<h2>Add Sale</h2>
<form (ngSubmit)="submitSale()">
  <label>Party: <input [(ngModel)]="sale.party" name="party"></label><br>
  <label>Date: <input [(ngModel)]="sale.date" type="date" name="date"></label><br>
  <label>Nos: <input [(ngModel)]="sale.nos" type="number" name="nos"></label><br>
  <label>Purchase Price: <input [(ngModel)]="sale.purchasePrice" type="number" name="purchasePrice"></label><br>
  <label>Purchase Total: <input [(ngModel)]="sale.purchaseTotal" type="number" name="purchaseTotal"></label><br>
  <label>Selling Price: <input [(ngModel)]="sale.sellingPrice" type="number" name="sellingPrice"></label><br>
  <label>Selling Total: <input [(ngModel)]="sale.sellingTotal" type="number" name="sellingTotal"></label><br>
  <label>Difference: <input [(ngModel)]="sale.difference" type="number" name="difference"></label><br>
  <label>Delivery Date: <input [(ngModel)]="sale.deliveryDate" type="date" name="deliveryDate"></label><br>

  <button type="submit">Save</button>
</form>

<hr>

<h2>Sales List</h2>
<ul>
  <li *ngFor="let s of salesList">
    {{ s.party }} - {{ s.sellingTotal }} - Diff: {{ s.difference }}
  </li>
</ul>
